@font-face {
	font-family: 'Tuladha Jejeg';
	src: url("https://raw.githubusercontent.com/akufadhl/Tuladha-Jejeg-OT/blob/main/fonts/woff2/TuladhaJejegOT-Regular.woff2") format("woff2"), url("https://raw.githubusercontent.com/akufadhl/Tuladha-Jejeg-OT/blob/main/fonts/ttf/TuladhaJejegOT-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
