{
	languages = (
		{
			name = "Javanese";
		 	icon = "JavaTemplate";
			predicate = "script = \"balinese\"";
			subGroup = (
			{
				name = "Letters";
				coverage = (
					"ka-java",
					"kaSasak-java",
					"kaMurda-java",
					"ga-java",
					"gaMurda-java",
					"nga-java",
					"ca-java",
					"caMurda-java",
					"ja-java",
					"nyaMurda-java",
					"jaMahaprana-java",
					"jaMahaprana-java.short",
					"jaMahaprana-java.base",
					"nya-java",
					"tta-java",
					"ttaMahaprana-java",
					"dda-java",
					"ddaMahaprana-java",
					"naMurda-java",
					"ta-java",
					"taMurda-java",
					"da-java",
					"daMahaprana-java",
					"na-java",
					"pa-java",
					"paMurda-java",
					"ba-java",
					"baMurda-java",
					"ma-java",
					"ya-java",
					"ra-java",
					"raAgung-java",
					"la-java",
					"wa-java",
					"saMurda-java",
					"saMahaprana-java",
					"sa-java",
					"ha-java",
					"a-java",
					"iKawi-java",
					"i-java",
					"ii-java",
					"u-java",
					"paCerek-java",
					"ngaLelet-java",
					"ngaLeletRaswadi-java",
					"e-java",
					"ai-java",
					"o-java",
					"pangkon-java",
				);
			},
			{
				name = "Pasangan";
				coverage = (
					"ha-bali.below",
					"na-bali.below",
					"naRambat-bali.below",
					"ca-bali.below",
					"caLaca-bali.below",
					"ra-bali.below",
					"ra-bali.below2",
					"ra_ya-bali.post",
					"ra_ya_tedung-bali.post",
					"ra_ya_suku-bali.post",
					"ra_ya_sukuIlut-bali.post",
					"ka-bali.below",
					"kaMahaprana-bali.below",
					"kafSasak-bali.below",
					"da-bali.below",
					"daMadu-bali.below",
					"daMurdaAlpaprana-bali.below",
					"daMurdaMahaprana-bali.below",
					"ta-bali.below",
					"taMurdaMahaprana-bali.below",
					"taLatik-bali.below",
					"taTawa-bali.below",
					"tzirSasak-bali.below",
					"sa-bali.post",
					"saSaga-bali.below",
					"saSapa-bali.post",
					"zalSasak-bali.post",
					"asyuraSasak-bali.below",
					"wa-bali.below",
					"wa-bali.below2",
					"veSasak-bali.below",
					"la-bali.below",
					"ma-bali.below",
					"ga-bali.below",
					"gaGora-bali.below",
					"ba-bali.below",
					"baKembang-bali.below",
					"nga-bali.below",
					"pa-bali.post",
					"paKapal-bali.post",
					"efSasak-bali.post",
					"ja-bali.below",
					"jaJera-bali.post",
					"ya-bali.post",
					"ya-bali.post.short",
					"ya-bali.post2",
					"ya-bali.post2.short",
					"nya-bali.below",
				);
			},
			{
				name = "Vowel Marks";
				coverage = (
					"bisah-bali",
					"tedung-bali",
					"reRepaTedungMark-bali",
					"laLengaTedungMark-bali",
					"taling-bali",
					"talingRepa-bali",
					"talingTedung-bali",
					"talingRepaTedung-bali",
					"ulu-bali",
					"ulu_uluRicem-bali",
					"ulu_uluCandra-bali",
					"ulu_cecek-bali",
					"ulu_surang-bali",
					"uluSari-bali",
					"uluSari_uluRicem-bali",
					"uluSari_uluCandra-bali",
					"uluSari_cecek-bali",
					"uluSari_surang-bali",
					"uluRicem-bali",
					"uluCandra-bali",
					"pepet-bali",
					"pepet_cecek-bali",
					"pepet_surang-bali",
					"cecek-bali",
					"surang-bali",
					"rerekan-bali",
					"rerekan_cecek-bali",
					"rerekan_surang-bali",
					"rerekan_ulu_cecek-bali",
					"rerekan_ulu_surang-bali",
					"rerekan_uluSari_cecek-bali",
					"rerekan_uluSari_surang-bali",
					"rerekan_pepet_cecek-bali",
					"rerekan_pepet_surang-bali",
					"suku-bali",
					"suku-bali.below",
					"sukuIlut-bali",
					"sukuIlut-bali.below",
					"raRepaMark-bali",
					"laLengaMark-bali",
					"pepetTedung-bali",
				);
			},
			{
				name = "Numbers";
				coverage = (
					"zero-java",
					"one-java",
					"two-java",
					"three-java",
					"four-java",
					"five-java",
					"six-java",
					"seven-java",
					"eight-java",
					"nine-java",
				);
			},
			{
				name = "Punctuations";
				coverage = (
					"panti-bali",
					"pamada-bali",
					"windu-bali",
					"carikPamungkah-bali",
					"carikSiki-bali",
					"carikPareren-bali",
					"pameneng-bali",
				);
			},
			);
		},
	);
}