{
	languages = (
		{
			name = "Javanese";
		 	icon = "JavaTemplate";
			predicate = "script = \"balinese\"";
			subGroup = (
			{
				name = "Letters";
				coverage = (
					"ka-java",
					"kaSasak-java",
					"kaMurda-java",
					"ga-java",
					"gaMurda-java",
					"nga-java",
					"ca-java",
					"caMurda-java",
					"ja-java",
					"nyaMurda-java",
					"jaMahaprana-java",
					"jaMahaprana-java.base",
					"nya-java",
					"tta-java",
					"ttaMahaprana-java",
					"dda-java",
					"ddaMahaprana-java",
					"naMurda-java",
					"ta-java",
					"taMurda-java",
					"da-java",
					"daMahaprana-java",
					"na-java",
					"pa-java",
					"paMurda-java",
					"ba-java",
					"baMurda-java",
					"ma-java",
					"ya-java",
					"ra-java",
					"raAgung-java",
					"la-java",
					"wa-java",
					"saMurda-java",
					"saMahaprana-java",
					"sa-java",
					"ha-java",
					"a-java",
					"iKawi-java",
					"i-java",
					"ii-java",
					"u-java",
					"e-java",
					"ai-java",
					"o-java",
					"paCerek-java",
					"ngaLelet-java",
					"ngaLeletRaswadi-java",
					"pangkon-java",
					"tarung-java",
					"tolong-java",
					"taling-java",
					"dirgaMure-java",
					"wignyan-java",
				);
			},
			{
				name = "Pasangan";
				coverage = (
					"jaMahapranaPas-java",
					"jaMahapranaPas-java.base",
					"nyaPas-java",
					"nyaPas-java.base",
					"paPas-java",
					"paMurdaPas-java",
					"saMahapranaPas-java",
					"saPas-java",
					"haPas-java",
					"paCerekPas-java",
					"kaPas-java",
					"kaPas-java.base",
					"kaSasakPas-java",
					"kaSasakPas-java.base",
					"kaMurdaPas-java",
					"gaPas-java",
					"gaMurdaPas-java",
					"ngaPas-java",
					"caPas-java",
					"caMurdaPas-java",
					"jaPas-java",
					"nyaMurdaPas-java",
					"ttaPas-java",
					"ttaMahapranaPas-java",
					"ddaPas-java",
					"ddaMahapranaPas-java",
					"taPas-java",
					"taPas-java.base",
					"taMurdaPas-java",
					"daPas-java",
					"daMahapranaPas-java",
					"naPas-java",
					"naMurdaPas-java",
					"baPas-java",
					"baMurdaPas-java",
					"maPas-java",
					"yaPas-java",
					"raPas-java",
					"raAgungPas-java",
					"laPas-java",
					"laPas-java.base",
					"laPas-java.below",
					"waPas-java",
					"waPas-java.below",
					"saMurdaPas-java",
					"ngaLeletPas-java",
					"ngaLeletRaswadiPas-java",
					"aPas-java",
					"iKawiPas-java",
					"iPas-java",
					"iiPas-java",
					"uPas-java",
					"ePas-java",
					"aiPas-java",
					"oPas-java",
				);
			},
			{
				name = "Ligatures";
				coverage = (
					"jaMahaprana_keret-java",
					"jaMahaprana_suku-java",
					"jaMahaprana_sukuMendut-java",
					"jaMahapranaPas_keret-java",
					"jaMahapranaPas_suku-java",
					"jaMahapranaPas_sukuMendut-java",
					"nyaPas_keret-java",
					"nyaPas_suku-java",
					"nyaPas_sukuMendut-java",
					"nyaPas-java.base",
					"caPas_keret-java",
					"caPas_pengkal-java",
					"caPas_pengkal_suku-java",
					"caPas_pengkal_sukuMendut-java",
					"caPas_suku-java",
					"caPas_sukuMendut-java",
					"caMurdaPas_keret-java",
					"caMurdaPas_pengkal-java",
					"caMurdaPas_pengkal_suku-java",
					"caMurdaPas_pengkal_sukuMendut-java",
					"caMurdaPas_suku-java", 
					"caMurdaPas_sukuMendut-java",
					"jaPas_keret-java",
					"jaPas_pengkal-java", 
					"jaPas_pengkal_suku-java",
					"jaPas_pengkal_sukuMendut-java",
					"jaPas_suku-java",
					"jaPas_sukuMendut-java",
					"nyaMurdaPas_keret-java",
					"nyaMurdaPas_pengkal-java",
					"nyaMurdaPas_pengkal_suku-java",
					"nyaMurdaPas_pengkal_sukuMendut-java",
					"nyaMurdaPas_suku-java",
					"nyaMurdaPas_sukuMendut-java",
					"ttaPas_keret-java",
					"ttaPas_pengkal-java",
					"ttaPas_pengkal_suku-java",
					"ttaPas_pengkal_sukuMendut-java",
					"ttaPas_suku-java",
					"ttaPas_sukuMendut-java",
					"ttaMahapranaPas_keret-java",
					"ttaMahapranaPas_pengkal-java",
					"ttaMahapranaPas_pengkal_suku-java",
					"ttaMahapranaPas_pengkal_sukuMendut-java",
					"ttaMahapranaPas_suku-java",
					"ttaMahapranaPas_sukuMendut-java",
					"ddaPas_keret-java",
					"ddaPas_pengkal-java",
					"ddaPas_pengkal_suku-java",
					"ddaPas_pengkal_sukuMendut-java",
					"ddaPas_suku-java",
					"ddaPas_sukuMendut-java",
					"taMurdaPas_keret-java", 
					"taMurdaPas_pengkal-java",
					"taMurdaPas_pengkal_suku-java",
					"taMurdaPas_pengkal_sukuMendut-java",
					"taMurdaPas_suku-java",
					"taMurdaPas_sukuMendut-java",
					"daPas_keret-java",
					"daPas_pengkal-java",
					"daPas_pengkal_suku-java",
					"daPas_pengkal_sukuMendut-java",
					"daPas_suku-java",
					"daPas_sukuMendut-java",
					"naPas_keret-java",
					"naPas_pengkal-java",
					"naPas_pengkal_suku-java",
					"naPas_pengkal_sukuMendut-java",
					"naPas_suku-java",
					"naPas_sukuMendut-java",
					"maPas_keret-java",
					"maPas_pengkal-java",
					"maPas_pengkal_suku-java",
					"maPas_pengkal_sukuMendut-java",
					"maPas_suku-java",
					"maPas_sukuMendut-java",
					"waPas_keret-java",
					"waPas_pengkal-java",
					"waPas_pengkal_suku-java",
					"waPas_pengkal_sukuMendut-java",
					"waPas_suku-java",
					"waPas_sukuMendut-java",
				);
			},
			{
				name = "Medials";
				coverage = (
					"cakra-java",
					"cakra-java.isol",
					"cakra-java.below",
					"cakra_suku-java",
					"cakra_suku-java.below", 
					"pengkal-java",
					"pengkal_keret-java",
					"pengkal_suku-java",
					"pengkal_sukuMendut-java", 
					"pengkal-java.below",
					"pengkal_keret-java.below",
					"pengkal_suku-java.below",
					"pengkal_sukuMendut-java.below", 
				);
			},
			{
				name = "Marks";
				coverage = (
					"cecak-java",
					"cecakTelu-java",
					"cecakTelu_panyangga-java",
					"cecakTelu_cecak-java",
					"cecakTelu_wulu-java",
					"cecakTelu_wuluMelik-java",
					"cecakTelu_pepet-java", 
					"cecakTelu_layar-java",
					"cecakTelu_wulu_panyangga-java",
					"cecakTelu_wulu_layar-java,"
					"cecakTelu_wuluMelik_panyangga-java",
					"cecakTelu_wuluMelik_layar-java",
					"cecakTelu_pepet_panyangga-java",
					"cecakTelu_pepet_layar-java",
					"cecakTelu_wulu_cecak-java",
					"cecakTelu_wuluMelik_cecak-java",
					"cecakTelu_pepet_cecak-java", 
					"wulu-java",
					"wulu_cecak-java",
					"wulu_panyangga-java",
					"wulu_layar-java", 
					"wuluMelik-java",
					"wuluMelik_cecak-java",
					"wuluMelik_panyangga-java",
					"wuluMelik_layar-java", 
					"pepet-java",
					"pepet_cecak-java",
					"pepet_panyangga-java",
					"pepet_layar-java", 
					"panyangga-java",
					"layar-java",
					"suku-java",
					"suku-java.below",
					"sukuMendut-java",
					"sukuMendut-java.below",
					"keret-java",
					"keret-java.below",
				);
			},
			{
				name = "Numbers";
				coverage = (
					"zero-java",
					"one-java",
					"two-java",
					"three-java",
					"four-java",
					"five-java",
					"six-java",
					"seven-java",
					"eight-java",
					"nine-java",
				);
			},
			{
				name = "Punctuations";
				coverage = (
					"rerengganLeft-java",
					"rerengganRight-java",
					"padaAndap-java",
					"padaMadya-java",
					"padaLuhur-java",
					"padaWindu-java",
					"padaTirtaTumetes-java",
					"padaIsenIsen-java",
					"padaPangkat-java",
					"padaLingsa-java",
					"padaLungsi-java",
					"padaAdeg-java",
					"padaAdegAdeg-java",
					"padaPiseleh-java",
					"padaPiselehTurned-java",
					"pangrangkep-java",
				);
			},
			);
		},
	);
}